body {
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 10%;
  place-items: center;
  height: 100vh;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Define 3 colunas de tamanho igual */
  grid-gap: 20px; /* Define o espaçamento entre as células */
}

.grid-item {
  padding: 10px;
  border: 1px solid white;
  border-radius: 16px;
  color: white;
  background-color: black;
  text-align: center;
  text-decoration: none;
}

.grid-item:hover {
  background-color: red;
  border-color: black;
}
